.app {
	font-family: "Poppins";
	font-weight: 400;
	height: 100vh;
	background-image: url("../assets/images/background.png");
	background-size: cover;
	background-position: center;

	display: flex;
	justify-content: center;
	align-items: center;
}

h1 {
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	color: #f2f2f2;
	text-transform: uppercase;
	margin-bottom: 16px;
}

button {
	border-radius: 12px;
	height: 56px;
	width: 116px;
	font-family: Poppins;
	font-weight: 400;
	font-size: 18px;
	line-height: 27px;
	cursor: pointer;
}

.loading-text {
   color: #f2f2f2;
   font-weight: bold;
	font-size: 24px;
	line-height: 36px;
	text-transform: uppercase;
   letter-spacing: 2px;
}

.correct {
	background-color: green;
}

.incorrect {
	background-color: red;
}
