h2 {
	font-weight: bold;
	font-size: 24px;
	line-height: 36px;
	color: #2f527b;
   margin-bottom: 32px;
}

.question__option {
   cursor: pointer;
	background: #ffffff;
	border: 2px solid rgba(96, 102, 208, 0.7);
	box-sizing: border-box;
	border-radius: 12px;
   height: 56px;
   padding: 10px 18px;

   margin-bottom: 20px;
   display: flex;
   align-items: center;
}

.question__option:hover {
   color: #FFFFFF;
   background: #F9A826;
   border: 2px solid #F9A826;
}

.question__option__letter {
   margin-right: 44px;
}
